*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/3184163/pexels-photo-3184163.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position:relative;
    overflow: hidden;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.col{
    flex-basis: 31%;
    background: rgba(13, 20, 41, 0.8);
    border-radius: 10px;
    margin-left:25px ;
    margin-right: 25px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h1{
    color: aliceblue;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
}
h2{
    color: rgb(27, 191, 197);
    text-align: center;
}
h3{
    color: rgb(31, 111, 136);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
p{
    padding: 10px;
    color: aliceblue;
}